ul {
    padding:0px;
    margin:0px;
    list-style:none;
}
/*ul li{*/
    /*padding:6px;*/
    /*margin:0px;*/
/*}*/

/*body {
    background-color: #2cafe3;
}*/

/*.panel {
    background-color: #1b9ed2;
}*/

div.inf-block{
    width: 100%;
}

div.informers-layout{
    font-size: 14px;
    margin: auto;
}

div.row {
    margin: 0px 0px 0px 0px;
}

div.problem-form{
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 30px;
    padding-left: 30px;
}

div.controls{
    padding-left: 15px;
    padding-right: 15px;
}

div.inf-item{
    margin: 10px 10px 13px 10px;
}

span.glyphicon{
    margin: 5px 5px 5px 5px;
}

div.inf-item img{
    width: 100px;
}

div.inf-item a{
    text-align: justify;
}

div.panel-body{
    padding: 0px;
    border: 1px solid #e6e6e6;
    position: relative;
    zoom: 1;
}
.demo1 .img-circle{
    width: 90px;
}

.container .row{
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav>li>a.socicons{
    padding: 15px 5px 15px 5px ;
}

div.col-xs-12{
    height: 75%;
}

div.col-xs-12 td{
    padding: 8px 5px 5px 5px;
}

.col-md-6 h3{
    padding-left: 15px;
}
.col-md-6 form{
    padding-left: 15px;
    margin-bottom: 0px;
}
div.control-group{
    margin-bottom: 5px;
}
.controls p.help-block{
    margin-bottom: 0px;
    margin-top: 0px;
}
/*div.panel-default{
    height: 600px;
}*/
/*Навигационный бар*/
/*.navbar-inverse{*/
    /*background-color: #0f72da;*/

/*}*/
/*.navbar-inverse .navbar-brand{*/
    /*color: black;*/
/*}*/

/*.navbar-inverse .navbar-nav>li>a{*/
    /*color: black;*/
/*}*/
/*
@media only screen and (max-width: 720px){
    div.headmaintext {
        margin-top: 20px;
        font-size: 40px;
    }
}

@media only screen and (max-width: 900px){
    div.headmaintext {
        margin-top: 20px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 300px){
    div.headmaintext {
        margin-top: 20px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 230px){
    div.headmaintext {
        margin-top: 20px;
        font-size: 6px;
    }
}*/




/*------FOOTER-------*/




/* In our demo, the footers are fixed to the bottom of the page */

footer{
    position: static;
    bottom: 0;
}

@media (max-height:800px){
    footer { position: static; }
    /*header { padding-top:40px; }*/
}
