div.changablepic {
}

div.dphoto {
    position: absolute;
    z-index: 100;
    margin-top : 1%;
    margin-left: 0.5%;
    width:11%;
    /*overflow:hidden;*/
    /*border-radius:50%;*/
}

div.crestl {
    position: absolute;
    z-index: 100;
    margin-top : 1%;
    margin-left: 90.5%;
    width:4.5%;
    overflow:hidden;
}

div.crestr {
    position: absolute;
    z-index: 100;
    margin-top : 1%;
    margin-left: 95%;
    width:4.5%;
    overflow:hidden;
}

div.headmaintext {
    font-size: 30px;
    /*position: absolute;*/
    /*z-index: 100;*/
    /*top: 27%;*/
    /*left: 50%;*/
    /*width: 50%;*/
    /*font-size: xx-large;*/
    /*color: red;*/
    /*text-align: center;*/
    /*!* bring your own prefixes *!*/
    /*transform: translate(-50%, -50%);*/
    /*--------------------------------*/
    position: absolute;
    right: 25%;
    /*top: 20%;*/
    top: 10%;
    width: 50%;
    /*bottom: 20px;*/
    left: 25%;
    z-index: 10;
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
    font-family: "Comic Sans MS";
    color: cornflowerblue;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 1.6);
}

div.headtextunderphoto {
    font-size: 15px;
    position: absolute;
    margin-left: -0.7%;
    margin-top: 12%;
    /*height: 50px;*/
    /*max-height: 50px;*/
    width: 15%;
    /*font-size: inherit;*/
    /*max-font-size: 20px;*/
    /*max-height: 30px;*/
    /*bottom: 20px;*/
    z-index: 10;
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
    color: gold;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 1.6);
}